@tailwind base;
@tailwind components;
@tailwind utilities;


.article-info{
    font-size: 1.1em;
    margin-top: 2px;
}
.article-reponse{
    font-size: 1em;
}


.btn_commande_fournisseurs,
.btn_commande_client{
    background-color: rgb(5, 145, 133) !important;
}

.btn_commande_fournisseurs :hover,
.btn_commande_client :hover{
    color: rgb(205, 228, 200) !important;
}
